{% load static %}
<style type="text/css">
	.jumbotron{
		background-image: url("{% static "images/banner.jpg"%}");
		background-repeat: no-repeat;
 		background-size: 2400px 3200px;
	}
	.display-4{
		color: #FFFFFF;
	}
	.lead{
		color: #FFFFFF;
	}
	.para{
		color: #FFFFFF;
	}
</style>
<div class = "text-center">
	<div>
		<div class="jumbotron">
			</br>
</br>
		  <h1 class="display-4">WELCOME TO THE VOID WORLD OF MUSIC</h1>
		  <p class="lead" type="uppercase">Buy or Free Downlaod Music you love.We Offer Ever Best Quality Music,You deserve.</p>
		  	<div class="container">
		  		<hr class="my-2">
			</div>
		  <p class="para">Also you can sign up as a Artist,if you have a nice voice also a creative mind at all.</p>
		  <a class="btn btn-outline-light btn-lg" href="#" role="button">Learn more</a>
		</div>
	</div>
</div>
</br>